In [6]:
from datetime import date
import pytest
import sys
sys.path
sys.path.append('d:/Codes/EquineTrading/')


from horse.betsim.wrap.jcapper import JCapper
from pandas import date_range
import pandas as pd

In [3]:
# load JCapper Breeders Cup Results file
jcp = JCapper(verbose=True)
jcp.load(date_range(date(2018, 3, 1), date(2018, 3, 7)))
jcp.add_computed_columns()
print('load_jcapper: loaded %d rows' % (len(jcp.df)))

dfp = jcp.df_payout
df = jcp.df

jcapper.load(2018-03-01)
jcapper.load(2018-03-02)
jcapper.load(2018-03-03)
jcapper.load(2018-03-04)
jcapper.load(2018-03-05)
jcapper.load(2018-03-06)
jcapper.load(2018-03-07)
JCapper.load() filtering scratched horses reduced from 4983 to 4521

d:/Codes/EquineTrading\horse\betsim\wrap\jcapper.py:206: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  df_payout = concat([df_payout, wps])

load_jcapper: loaded 4521 rows

In [4]:
df.head()

,chart_file_sym,date,race_number,breed_code,distance,is_about_distance,surface_code,is_off_turf,course_type_code,race_type_code,...,rank_diff_logprob_final_tote_morning_line,is_route,cost_exacta_from_win_show,cost_trifecta_from_place_wc,cost_superfecta_from_show_a1,cost_synth_place_tri,log_ratio_effectivestarters_morningline,max_prob_morning_line_odds,max_prob_final_tote_odds,underperformance_weighted
1,CT,2018-03-01,1,TB,4.5,0,D,0,M,CLM,...,4.0,0,5,40,180,40,0.062818,0.323023,0.511887,0.148913
2,CT,2018-03-01,1,TB,4.5,0,D,0,M,CLM,...,2.0,0,5,40,180,40,0.062818,0.323023,0.511887,0.143688
3,CT,2018-03-01,1,TB,4.5,0,D,0,M,CLM,...,1.0,0,5,40,180,40,0.062818,0.323023,0.511887,-1.023774
4,CT,2018-03-01,1,TB,4.5,0,D,0,M,CLM,...,3.0,0,5,40,180,40,0.062818,0.323023,0.511887,0.075835
5,CT,2018-03-01,1,TB,4.5,0,D,0,M,CLM,...,6.0,0,5,40,180,40,0.062818,0.323023,0.511887,0.021000

In [8]:
df_calibration = pd.read_csv("DF_CALIBRATE_20180629.csv")

D:\Softwares\Anaconda3\envs\py35\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (12,27,84,85,87,88,93) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
df_calibration.head()

,race_id,EX_payout,PL_payout,SH_payout,SU_payout,TR_payout,WN_payout,index,track_id,date,...,year,month,weekday,prob_x8runner_HDWPSRRating_norm_par,EX_pool,PL_pool,SH_pool,SU_pool,TR_pool,WN_pool
0,APX_20100625_1,6.6,2.15,1.633333,78.349995,24.1,2.05,0.0,APX,2010-06-25,...,2010.0,6.0,4.0,0.011273,51904.0,80078.0,80078.0,17933.0,42794.0,80078.0
1,APX_20100625_1,6.6,2.15,1.633333,78.349995,24.1,2.05,1.0,APX,2010-06-25,...,2010.0,6.0,4.0,0.332936,51904.0,80078.0,80078.0,17933.0,42794.0,80078.0
2,APX_20100625_1,6.6,2.15,1.633333,78.349995,24.1,2.05,2.0,APX,2010-06-25,...,2010.0,6.0,4.0,0.067706,51904.0,80078.0,80078.0,17933.0,42794.0,80078.0
3,APX_20100625_1,6.6,2.15,1.633333,78.349995,24.1,2.05,3.0,APX,2010-06-25,...,2010.0,6.0,4.0,0.026951,51904.0,80078.0,80078.0,17933.0,42794.0,80078.0
4,APX_20100625_1,6.6,2.15,1.633333,78.349995,24.1,2.05,4.0,APX,2010-06-25,...,2010.0,6.0,4.0,0.150379,51904.0,80078.0,80078.0,17933.0,42794.0,80078.0

In [13]:
df_calibration[df_calibration["TR_pool"]>df_calibration["EX_pool"]].shape

(1780, 265)

In [14]:
df_calibration[df_calibration["TR_pool"]<df_calibration["EX_pool"]].shape

(9374, 265)